---
layout: default
---

<div class="hidden">
	<script type="text/javascript">
		<!--//--><![CDATA[//><!--
			var images = new Array()
			function preload() {
				for (i = 0; i < preload.arguments.length; i++) {
					images[i] = new Image()
					images[i].src = preload.arguments[i]
				}
			}
			preload(
				{% for project in site.projects %}
					"/assets/images/original/{{project.image}}.jpeg",
				{% endfor %}
			)
		//--><!]]>
	</script>
</div>

<ul class="grid effect-2" id="grid">
	{% for project in site.projects %}
		<li><a class="modal-link" id="{{project.image}}" data-title="{{project.title}}" data-desc="{{project.description}}" href="#animatedModal">
		<div class="image-hover-container">
			<img class="image-hover-img" src="/assets/images/original/{{project.image}}.jpeg">
			<div class="overlay">
				<div class="overlay-text">{{project.title}}</div>
			</div>
		</div>
		</a></li>
	{% endfor %}
</ul>

 <div id="animatedModal">
        <div class="modal-content">
             <div class="project-container">
             	<div class="project-img-container">
					<img id="project-img">
				</div>
				<div class="project-other">
					<div class="project-info-container">
						<div class="title-desc">
							<p class="project-title">title</p>
							<div class="project-desc-container">
								<p class="project-desc"></p>
							</div>
						</div>
						<div class="tags">
							<ul>
								<li>Oil painting</li>
								<hr class="tag-hr">
								<li>Art school</li>
								<hr class="tag-hr">
								<li>August 12, 2017</li>
							</ul>
						</div>
					</div>
					<div class="close-animatedModal">
						<img class="close-icon" src="/assets/images/close-icon.svg">
						<p class="p-text not-selectable">Back</p>
					</div>
				</div>
			</div>
        </div>
    </div>