<header>
	<nav class="container">
		<a href="{{site.url}}">
			{% include svg.html%}
		</a>
		<div class="header-desc-container">
			<p class="header-desc">{{site.description}}</p>
		</div>
		<div class="nav-link-container">
			<a href="{{site.url}}" class="p-text nav-link"><span class="underline">work</span></a>
			<span class="p-text nav-link dot">·</span>
			<a href="{{site.url}}/about" class="p-text nav-link"><span class="underline">about</span></a>
			<span class="p-text nav-link dot">·</span>
			<a href="{{site.contact-link}}" class="p-text nav-link"><span class="underline">contact</span></a>
		</div>
	</nav>
</header>