<header>
	<nav>
		<a href="{{site.url}}">
			{% include svg.html%}
		</a>
		<div class="header-desc-container">
			<p class="header-desc">{{site.description}}</p>
		</div>
		<div class="nav-link-container">
			<a href="{{site.link1-url}}" class="p-text nav-link"><span class="underline">{{site.link1-name}}</span></a>
			<span class="p-text nav-link dot">·</span>
			<a href="{{site.link2-url}}" class="p-text nav-link"><span class="underline">{{site.link2-name}}</span></a>
			<span class="p-text nav-link dot">·</span>
			<a href="{{site.link3-url}}" class="p-text nav-link"><span class="underline">{{site.link3-name}}</span></a>
		</div>
	</nav>
</header>