
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  padding-bottom: 100px
}

* {
  font-family: Graphik,Proxima Nova,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 100;
}

.container {
   margin: 60px 20px 40px;
  @media only screen and (min-width : 480px) {
    margin: 60px 40px 40px;
  }
   
  @media only screen and (min-width : 768px) {
    margin: 80px 40px 40px;
  }

  @media only screen and (min-width : 992px) {
    margin: 80px 100px 40px;
  }

  @media only screen and (min-width : 74em) {
    max-width: 69em;
    margin: 80px auto 40px;
    /* same as padding for borders of grid */
    padding-left: 7px
  }
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
#loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("/assets/images/preloader.gif") center no-repeat #fff;
  background-size: 20%;
}
