#logo {
  max-width: 100%;
  max-height: 100%;
}

#logo path {
  fill-opacity: 0;
  fill: #000 !important;
  stroke: #000;
  stroke-width: 4;
  animation: in 10s 200ms forwards, out 1s 2s forwards;
  animation-timing-function: linear; 
}

#logo:hover {
  /*transform: scale(1.2)*/
  /*animation: in 10s 200ms forwards, out 1s 2s forwards;*/
}

@keyframes in {
    0% {
        fill-opacity: 0;
        stroke-dasharray: 3319;
        stroke-dashoffset: 3319;
        stroke-width: 0;
    }
  100% {
        stroke-dashoffset: 0;
        stroke-width: 4;
  }
}

@keyframes out {
    0% {
        fill-opacity: 0;
    }
  100% {
    fill-opacity: 1;
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 60px 20px;
  @media only screen and (min-width : 480px) {
    margin: 60px 40px;
  }
   
  @media only screen and (min-width : 768px) {
    margin: 80px 40px;
  }

  @media only screen and (min-width : 992px) {
    margin: 80px 100px;
  }

  @media only screen and (min-width : 74em) {
    max-width: 69em;
    margin: 80px auto;
    /* same as padding for borders of grid */
    padding-left: 7px
  }
}

.underline-magical {
  background-image: linear-gradient(120deg, #000 0%, #000 100%);
  background-repeat: no-repeat;
  background-size: 0% 20px;
  background-position: 50% 280%;
  transition: all 0.4s ease;
  &:hover {
    background-size: 95% 20px;
  }
}

.header-desc {
  font-size: 35px;
  font-family: Graphik;
  color: #222222;
  line-height: 52px;
  letter-spacing: -0.5px;
  text-transform: none;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
}

.nav-link {
  padding: 10px 16px;
  padding-left: 0px;
  color: #212121;
  justify-content: flex-start;
}

.underline {
  padding-bottom: 3px;
  cursor: pointer;
  background-image: linear-gradient(120deg, #212121 0%, #212121 100%);
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: 50% 102.75%;
  transition: all 0.2s ease;
  &:hover {
    background-size: 95% 2px;
  }
}
