@font-face {
   font-family: Super Grotesk;
   font-weight: 100;
   font-style: normal;
   src: url('/assets/fonts/SuperGroteskLight.ttf');
} 

@font-face {
   font-family: Sofia Pro;
   font-weight: bold;
   font-style: normal;
   src: url('/assets/fonts/SofiaProSemibold.ttf');
} 

h1 {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 5px;
}

h2 {
	text-align: center;
}

span {
	font-size: 16px;
	font-weight: 200;
}

p {

}

a {
	color: inherit;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
