---
layout: default
---

<div class="container">
	<section id="photos">
		{% assign page_category = page.title | downcase %}

		{% for project in site.projects %}
	 	{% if project.categories contains page_category %}
				<li>
					<a href="{{project.url}}" class="modal-link">
						<div class="image-hover-container">
							<img class="lazy image image-hover-img" width="400" src="/assets/images/lazy.jpg" data-src="{{project.image}}">
							<div class="overlay">
								<div class="text overlay-text">{{project.title}}</div>
							</div>
						</div>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</section>
</div>