---
layout: default
---

<div class="container">
	<div id="project-img-container">
		<img id="project-img" class="lazy" src="/assets/images/lazy.jpg" data-src="{{page.image}}">
	</div>
	<div>
		<div class="row">
			<div class="col-md-6 col-lg-5 offset-lg-1">
				<div class="title-desc">
					<h1 id="project-title">{{page.title}}</h1>
					<p id="project-desc">{{page.description}}</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-5">
				<div class="tags">
					<ul>
						{% if page.medium %}
							<li id="project-medium">{{page.medium | capitalize}}</li>
							<hr id="project-medium-hr" class="tag-hr">
						{% endif %}
						{% if page.style %}
							<li id="project-style">{{page.style | capitalize}}</li>
							<hr id="project-style-hr" class="tag-hr">
						{% endif %}
						{% if page.date %}
							<li id="project-date">{{ page.date | date: "%Y" }}</li>
							<hr class="tag-hr">
						{% endif %}
						{% if page.categories %}
							{% for category in page.categories %}
								<li id="project-category">{{ category | capitalize }}</li>
								<hr class="tag-hr">
							{% endfor %}
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

		{% assign page_category = page.categories.first | downcase | remove: " " %}
		{% assign first_link = site.first_link | downcase | remove: " " %}
		{% if page_category == first_link %}
			<!-- index.html is back_link -->
			{% assign back_link = "/" %}
		{% else %}
			{% assign back_link = "/category/" | append: page_category %}
		{% endif %}

		<a href="{{back_link}}">
			<div id="close-icon-container">
				<img id="close-icon" src="/assets/images/close-icon.svg">
			</div>
		</a>
	</div>
</div>